<!DOCTYPE html>
<html>
<head>
    <title>Don't be a Geek</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Hustlers University</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <section>
        <h2>YOU ARE BROKE</h2>
        <p>WAKE UP!!</p>
    </section>

    <footer>
        <p>&copy; 2023 My Homepage. All rights reserved.</p>
    </footer>
</body>
</html>
